body {
    background: hsl(0, 0%, 100%);
}

.box-head {
    background: hsl(225, 100%, 98%);
}

.mode-dark-light {
    color: hsl(227, 47%, 96%);
}

.header {
    color: black;
}

.card-foll {
    background: white;
    transition: .3s;
}

.card-foll:hover {
    background: lightblue;
}

.total-followers {
    color: black;
}

.recently__days {
    color: hsl(163, 72%, 41%);
}
.mode-dark-light{
    color:black;
}

.mode__selector {
    background: white;
}

.content-overviews {
    color: black;
}

.card-over {
    background: #F0F3FA;
    transition: .4s;
}

.card-over:hover {
    background: lightblue;
}

.percent__value {
    color:hsl(228, 34%, 66%)
}

.type-view__text {
    color: hsl(228, 12%, 44%);
}
