@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@1,200&family=Barlow+Semi+Condensed:ital,wght@1,300&family=Outfit:wght@200&family=Raleway:ital@1&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: Bai Jamjuree;
    font-size: 18px;
}
header{
    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../clipboard-landing-page-master/images/bg-header-desktop.png);
    background-size: cover;
}
.intro{
    text-align: center;
    padding:10px 0;
    width:40%;
}
.intro h2{
    padding 5 px o;
}
.btn-action{
    padding:20px 0;
}
.btn-action button{
    padding: 10px 20px;
    background: transparent;
    outline: none;
    border: none;
    color:#ffffff;
    margin: 0 10px;
    border-radius: 20px;
    cursor: pointer;
}
.btn-action button.ios{
    background-color: hsl(171, 66%, 44%);
    box-shadow: 2px 2px 8px hsl(171, 66%, 44%);
}
.btn-action button.mac{
    background-color: hsl(233, 100%, 69%);
     box-shadow: 2px 2px 8px hsl(233, 100%, 69%); 
}
.one{
    text-align: center;
    width: 40%;
    margin: auto;
}
.one h2{
    padding:15px 0;
}
.two{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 50px 0;
} 
 .two img{
    height: 90%;
    width: 80%;
} 
 .two .features div{
    margin-top: 30px;
    width: 65%;
} 
.three{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.three img{
    height: 110%;
    width: 80%;
    margin: auto;
}
/* .three div:first-child{
    padding: 70px 0;
    width:65%;
    margin: auto;
} */
.four .function{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 100px 0;
}
.four .function div{
    width:25%;
    margin: 0 30px;
}
.four .support-company{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    margin: 50px 30px;
}
.five{
    text-align: center;
    width:40%;
    margin: auto;
}
footer{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
}
.foot .logo{
    width: 50px;
    height: 50px;
    margin: 0 70px;
} 
.foot ul{
    list-style: none;
    max-width: 300px;
}
ul li{
    display: inline-block;
    margin: 5px 20px;
}