:root{
    --main-font:"Open Sans", sans-serif;
    --background-color:var(--white);
    --container-box-shadow:-2px 10px 24px -11px black;
    --btn-box-shadow:5px 10px 20px hsl(245,75%,90%);
    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%)
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
    --red:red;
    --blue:royalblue;
}

html,body{
    overflow-x: hidden;
}
body{
    font-family: var(--main-font);
    min-height: 100vh;
    background-color:var(--background-color);
    background-size: contain;
    overflow-y: scroll;
}
.top-container{
    display:flex;
    flex-direction: row;
}
.msg-img{
    width: 3.5rem;
    height: 3rem;
    background-image: url("../huddle-landing-page-with-curved-sections-master/images/icon-messages.svg");
    background-position:left;
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: row;

}
.com-img{
    width: 3.5rem;
    height: 3rem;
    background-image: url("../huddle-landing-page-with-curved-sections-master/images/icon-communities.svg");
    background-position:left;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float:left;
    flex-direction: row;

}
.msg1-img{
    width: 3.5rem;
    height: 3rem;
    background-image: url("../huddle-landing-page-with-curved-sections-master/images/icon-messages.svg");
    background-position:left;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float:right;
    flex-direction: row;

}

h2{
    font-family: var(--main-font);
    flex-direction: row;

}
/* h1,p{
    flex-direction: row;
    text-align: center;
} */
.btn-free{
    background-color: transparent;
    color: var(--Light-Pink);
    border-color: var(--Light-Pink);
    border-radius: 15px;
    padding: 10px 15px ;
    margin: 1px 1px;
    font-family: var(--main-font);
    align-content: right;
    /* display: flex;
    flex-direction: row; */
    float: right;
}
.btn-start{
    background-color: var(--Pink);
    border-color: var(--Pink);
    font-family: var(--main-font);
    color:white;
    border-radius: 50px;
    padding: 17px 34px;
    margin:4px 4px;
    align-content: center;
}
.btn-last{
    background-color: white;
    border-color: var(--Pink);
    font-family: var(--main-font);
    color:white;
    border-radius: 50px;
    padding: 17px 34px;
    margin:4px 4px;
    align-content: right;
}
.first-container{
    position: relative;
    width: 100%;
    max-width: 35rem;
    height: 100%;
    max-height: 55rem;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
    align-content: center;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    overflow: hidden;
}
.second-container{
   position:absolute; 
    width: 100%;
    max-width: 35rem;
    height: 100%;
    max-height: 55rem;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: var(--main-font);
    justify-content: left;
    align-content: left;
    border-radius: 25px; 
    /* float:left; */
    overflow: hidden;
}
.third-container{
    position:absolute; 
     width: 100%;
     max-width: 35rem;
     height: 100%;
     max-height: 55rem;
     margin: 0 auto;
     margin-top: 0px;
     margin-bottom: 0px; 
     font-family: var(--main-font);
     justify-content: left;
     align-content: left;
     float: left;
     border-radius: 25px; 
     overflow: hidden;
 }
 .fourth-container{
    position:absolute; 
     /* width: 100%;
     max-width: 35rem;
     height: 100%;
     max-height: 55rem;
     margin: 0 auto;
     margin-top: 0px;
     margin-bottom: 0px; */
     font-family: var(--main-font);
     justify-content: left;
     align-content: left;
     border-radius: 25px; 
     /* float:left; */
     overflow: hidden;
 }
 .fifth-container{
    position:absolute; 
     /* width: 100%;
     max-width: 35rem;
     height: 100%;
     max-height: 55rem;
     margin: 0 auto;
     margin-top: 0px;
     margin-bottom: 0px; */
     font-family: var(--main-font);
     justify-content: center;
     align-content: center;
     border-radius: 25px; 
     overflow: hidden;
 }
 .fifth-container{
    position:absolute; 
     /* width: 100%;
     max-width: 35rem;
     height: 100%;
     max-height: 55rem;
     margin: 0 auto;
     margin-top: 0px;
     margin-bottom: 0px; */
     font-family: var(--main-font);
     text-align: center;
     justify-content: center;
     align-content: center;
     border-radius: 25px; 
     overflow: hidden;
 }

.one-img{
    width:85%;
    height: 90%;
    min-height: 25rem;
    background-image: url("../huddle-landing-page-with-curved-sections-master/images/screen-mockups.svg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 25px 25px 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.grow1-img{
    width:40%;
    height: 30%;
    min-height: 25rem;
    background-image: url("../huddle-landing-page-with-curved-sections-master/images/illustration-flowing-conversation.svg");
    background-position: left;
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 25px 25px 0 0;
    justify-content: space-around;
    display: block;
    float: left;
    overflow: hidden;
}
.grow-img{
    width: 30%;
    height: 10%;
    min-height: 25rem;
    background-image: url("../huddle-landing-page-with-curved-sections-master/images/illustration-grow-together.svg");
    background-position:right;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    float:right;
    overflow:hidden;
}
.grow2-img{
    width:30%;
    height:40%;
    min-height: 25rem;
    background-image: url("../huddle-landing-page-with-curved-sections-master/images/illustration-your-users.svg");
    background-position:right;
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 25px 25px 0 0;
    justify-content: space-around;
    display: block;
    float: right;
    overflow: hidden;
}
.last-img{
    width:100%;
    height:5cm;
    /* min-height: 150rem; */
    background-image:url("../huddle-landing-page-with-curved-sections-master/images/bg-footer-top-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    overflow:hidden;
}


#leftbox{
    float: left;
}
#rightbox{
    float:right;
}
/* #mid{
    float:left;
} */