

/* div{
    width: 70px;
    height: 60px;
    background-image: url(../../images/qr.jpg);
    
    } */
    div{
    width:300px;
    height:500px;
    background-color:white;
    margin:100px auto; 
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    
} 

button{
    background-color: lightskyblue;
    
}
button:hover{
    color:purple;
}
button:active{
 color:darkorange;
}
p{
    color: lightgrey;
}

body{
    background-color: lightgrey;
}