body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}
    

a {
    color: khaki;
    font-family: Georgia;
    font-size: large;
}

a:hover {
    color: green;
}


h2 {
    color: white;
    text-align: center;
}
.column1 {
    background-color: royalblue;
    border: 1px solid white;
    border-spacing: 50px;
    display:table-cell;
     /* width: 400px;  */
    
}
.column2 {
    display:table-cell;
    /* width: 300px;  */
    background-image: linear-gradient(to left,royalblue,hotpink);  
    border: 1px solid white;
    border-spacing: 50px;
}
.column3 {
    display:table-cell;
    /* width: 800px; */
    background-color: hotpink;
    border: 1px solid white;
    border-spacing: 50px;
}
h3 {
    color:cornsilk;
    display: table-row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
    background-color:#ffffff;
    box-shadow: 5px 4px 4px seashell;
    border-radius: 40px; 
    cursor: pointer;
    font-family: "Red Hat Display";
    font-size: 1rem;
    font-weight: 1000;
    width: 10%; 
    min-width: 10%;
    padding: 1rem;
    margin-top: 1rem;
    outline: none;
    border: transparent;
    color:black;
    margin: 20px 20px;
}
button:hover {
    background-color: transparent;
    border: 3px solid whitesmoke;
    color:beige;
}
button:active {
    color:darkorange;
}
.answer {
    display: none;
    margin-bottom: 5%;
  }
  p {
    background-image:linear-gradient(royalblue,purple); 
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
    font-size: 1.4rem;
  }
