@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@1,200&family=Barlow+Semi+Condensed:ital,wght@1,300&family=Inter&family=Kumbh+Sans:wght@300&family=Outfit:wght@200&family=Raleway:ital@1&family=Rubik:ital,wght@1,300&display=swap");
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    align-items: center;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex; 
    font-family: "Kumbh Sans", sans-serif;
    height: 100vh; 
    justify-content: center;
  }
  
  .main {
    background-color: white;
    border-radius: 15px;
    display: flex;
    width: 50%;
  }
  
  .faq {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;  
    width: 50%;
  }
  
 .text {
    border-bottom: 1.5px solid grey;
    font-size: 14px ;
  }
  
 .question {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 2%;
  }
  
  .answer {
    display: none;
    margin-bottom: 5%;
  }
  
 button {
  font-family: "Kumbh Sans", sans-serif;
    align-items: center;
    background-color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    outline: none;
    width: 100%;
    width: 100%;
  }
  
  button:hover {
    color: hsl(14, 88%, 65%);
  }
  
  .images {
    width: 50%;
    padding-bottom: 2%;
    position: relative;
  }
  .imagesOne {
    background-image: url("../images/illustration-woman-online-desktop.svg");
    background-position-x: -60px;
    background-position-y: 70px;
    background-repeat: no-repeat;
    background-size: 85%;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .imagesOne img {
    left: -26%;
    position: absolute;
    top: 35%;
  }
  
 .imagesTwo {
    background-image: url("../images/illustration-box-desktop.svg"); 
    background-position-x: -575px; 
    background-position-y: -280px;
    background-repeat: no-repeat;
    background-size: 195%; 
    height: 100%; 
    position: absolute;
    width: 100%;
  }
  
 .imagesTwo img,
  .imagesThree img {
    display: none;
  }  
  
  .imgArrow {
    transform: rotate(180deg);
  }
  
  .boldText {
    font-weight: bolder;
  }
  
  @media only screen and (max-width: 1440px) {
    .imagesOne {
      background-size: 102%;
    }
  
    .imagesTwo {
      background-size: 200%;
      background-position-y: -180px;
      background-position-x: -395px;
    }
  
    .imagesOne img {
      left: -38%;
      top: 40%;
    }
  }
  