@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@1,200&family=Barlow+Semi+Condensed:ital,wght@1,300&family=Inter&family=Kumbh+Sans:wght@300&family=Outfit:wght@200&family=Raleway:ital@1&family=Rubik:ital,wght@1,300&display=swap");
 :root {
  --main-color: hsl(227, 35%, 25%);
}
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background-image: url("../images/bg-pattern.svg");
    background-repeat: no-repeat; 
    display: flex;
    font-family: "Manrope", sans-serif;
    justify-content: center;
  }
  
  .container {
    max-width: 1400px;
  } 
 header {
    background-image: url("../images/pattern-circles.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 70px;
    padding: 50px 0; 
    text-align: center;
  } 
 header h1 {
    color: var(--main-color);
    font-size: 30px;
     margin-bottom: 15px; 
  }
  header p {
    color: hsl(225, 20%, 60%);
    font-size: 15px;
  } 
  aside {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0px 0px 15px hsl(227, 25%, 85%);
    color: hwb(225 52% 32%); 
    font-size: 15px;
    margin-top: 15px;
    min-width: 500px;
    padding: 50px 30px;
  }  
  .one {
    display: flex;
    margin-bottom: 50px;
  }
 .one .page-views {
    align-self: center;
    flex: 1; 
    text-transform: uppercase;
  }
 .one .price {
    display: flex;
    flex: 2;
    justify-content: flex-end;
    transition: all 0.5s;
  }
  .one .price span {
    display: inline-block;
  }
  .one .price span:first-of-type,
  .one .price span:first-of-type span {
    color: var(--main-color);
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
  } 
  .one .price span:last-of-type {
    align-self: center;
    font-size: 15px;
    margin-left: 5px;
  } 
  .progress .progress-bar {
    height: 20px;
    position: relative;
  }
  .progress-bar input[type="range"] {
    width: 100%;
  }
  .myrange {
    appearance: none;  
    background-color: hsl(174, 77%, 80%);
    height: 10px;
    /* border-radius: 17px; */
    outline: none;
  }
  .myrange::-webkit-slider-thumb{
    -webkit-appearance: none;  
    background-color: hsl(174, 86%, 45%);
    background-image: url("../images/icon-slider.svg");
    background-position: 50% 50%; 
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    height: 35px;
    width: 35px;
  }
  .myrange::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 10px hsl(174, 86%, 45%);
  }
  .progress .monthly {
    text-align: right;
    margin-top: 30px;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
  }
 .progress .monthly .discount {
    padding: 5px 5px;
    background-color: hsl(14, 92%, 95%);
    color: hsl(15, 100%, 70%);
    border-radius: 6px;
  }
  .progress .monthly span,
  label {
    margin-left: 10px;
  }
  .progress .switch {
    position: relative;
    height: 20px;
    width: 40px;
    display: inline-block;
    border-radius: 20px;
    background-color: hsl(174, 77%, 80%);
    cursor: pointer;
  }
  .progress .switch input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
  .progress .switch .slider{
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      background-color: white;
      top: 3px;
      left:-8px;
  }
  .progress .switch input:checked +.slider{
    transform: translate(20px);
  } 

  hr {
    border: 2px solid hsl(0, 6%, 93%);
    margin: 30px 0;
  }
  .start {
    display: flex;
    justify-content: space-between;
  }
  .start ul {
    list-style-image: url("../images/icon-check.svg");
    margin-left: 20px;
    line-height: 25px;
  } 
   .start button {
    background-color: var(--main-color);
    color: white;
    border: none;
    width: 180px;
    height: 45px;
    border-radius: 22px;
    cursor: pointer;
    outline: none;
    align-self: center;
    font-size: 15px;
  } 
  @media (max-width: 600px) {
    .container {
      min-width: 375px;
    }
    header {
      margin-top: 70px;
    }
    aside {
      min-width: 375px;
      padding: 50px 30px;
      margin-bottom: 50px;
    }
    .one .price span {
      display: inline-block;
    }
    .one .price span:first-of-type,
    .one .price span:first-of-type span {
      color: var(--main-color);
      font-size: 30px;
      line-height: 30px;
    }
    .start {
      flex-direction: column;
    }
    .start ul {
      align-self: center;
    }
    .start button {
      margin-top: 30px;
    }
  }
  
   